body {
  font-family: "PT Sans Narrow" , "Arial", sans-serif;
  font-size: 14px;
  font-style: bold;
  line-height: 24px;
  color: black;
}
h1 {
  font-size: 30px;
  width: 100%;
}
h2 {
  font-size: 24px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  min-width: 660px;
  max-width: 960px;
  margin: 0 auto;

  align-items: flex-start;
}
.main-header .container {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: flex-end;
}
main.container {
  justify-content: space-between;
  margin-bottom: 50px;
}
.main-footer .container {
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-navigation ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 700px;
  list-style: none;
}
li {
  justify-content: space-between;
}
nav {
  flex-grow: 1;
}
.breadcrumbs {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}
.breadcrumbs ul {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  list-style: none;
}
.filter {
  max-width: 220px;
}
.goods {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}
.paginator {
  width: 100%;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 460px;
}
figure {
  margin: 0;
}
.goods-description {
  max-width: 400px;
}
